<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Notification</title>
</head>
<body>
    <h1>Transaction Notification</h1>
    <p>We are writing to inform you that a transaction has been made on your account.</p>
    <p><strong>Transaction Details:</strong></p>
    <ul>
        <li>Transaction ID: {{transactionId}}</li>
        <li>Amount: {{transactionAmount}}</li>
        <li>Type transaction: {{transactionType}}</li>
    </ul>
    <p>If you have any questions, please contact our support team.</p>
    <p>Thank you,</p>
    <p>The Zwippetech Team</p>
</body>
</html>